* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.header {
  width: 375px;
  height: 55px;
  background-color: #0C4B35;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header .ima3 {
  width: 75px;
  height: 20px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .ima3 div {
  background-color: yellowgreen;
}
.header .ima3 div img {
  display: block;
}

.lang {
  width: 50px;
  height: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.lang p {
  color: white;
  font-size: 12px;
  margin-right: 5px;
}

.ima2 {
  width: 375px;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.ima2 p {
  font-size: 20px;
  font-weight: bold;
}
.ima2 span {
  margin-left: -5px;
  color: #00730C;
  position: relative;
}
.ima2 img {
  position: absolute;
  top: 83px;
  right: 670px;
}
.ima2 .im2 {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ima2 .im2 .imm1, .ima2 .im2 .imm2 {
  width: 20px;
  height: 20px;
  background-image: url("img/Call Button.png");
  background-repeat: no-repeat;
  background-position: center;
}
.ima2 .im2 .imm2 {
  background-image: url("img/Menu_.png");
}

.Landscape {
  margin-top: 0px;
  padding-top: 48px;
  width: 375px;
  height: 530px;
  background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
}
.Landscape p {
  margin-left: 38px;
  position: relative;
}
.Landscape img {
  position: absolute;
  margin-left: 15px;
  margin-top: 35px;
}
.Landscape h2 {
  margin-left: 15px;
  margin-top: 10px;
  font-size: 28px;
  font-weight: bold;
}
.Landscape span {
  color: #00730C;
}
.Landscape .lore {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 14px;
}
.Landscape .get {
  width: 303px;
  height: 40px;
  background-color: #00730C;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-left: 36px;
  padding-top: 10px;
  border-radius: 6px;
}
.Landscape .see {
  font-size: 14px;
  margin-left: 117px;
  color: #00730C;
  margin-top: 20px;
  position: relative;
}
.Landscape .right {
  position: absolute;
  color: #00730C;
  width: 16px;
  margin-left: 240px;
  margin-top: -29px;
}
.Landscape .blume {
  margin-left: 0px;
  margin-top: -40px;
}
.Landscape .cont {
  display: flex;
  align-items: center;
  justify-content: end;
}
.Landscape .cont .happy {
  width: 133px;
  height: 32px;
  background-color: white;
  font-size: 10px;
  text-align: center;
  margin-right: 15px;
  margin-top: 36px;
  border-radius: 25px;
  padding-top: 7px;
}
.Landscape .cont .number {
  color: black;
  font-size: 12px;
  font-weight: bold;
  margin-right: 8px;
}

.services {
  margin-top: 50px;
  width: 375px;
}
.services h2 {
  font-size: 28px;
  margin-left: 54px;
}
.services span {
  color: #00730C;
}
.services p {
  margin: 15px;
  color: #676767;
  font-size: 14px;
  text-align: center;
}
.services .contejn {
  display: flex;
  margin: 33px 15px 20px 15px;
}
.services .contejn .img {
  width: 50px;
  height: 50px;
  margin: 20px;
  background-image: url("img/serv1.png");
  background-repeat: no-repeat;
  background-position: center;
}
.services .contejn .tex {
  height: 100px;
  width: 250px;
}
.services .contejn .tex h3 {
  color: #212529;
  font-size: 16px;
  margin-left: 0;
  margin-top: 5px;
}
.services .contejn .tex p {
  color: #676767;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 0;
}
.services .contejn .new-img1 {
  background-image: url("img/serv2.png");
  background-repeat: no-repeat;
  background-position: center;
}
.services .contejn .new-img2 {
  background-image: url("img/serv3.png");
  background-repeat: no-repeat;
  background-position: center;
}
.services .contejn .new-img3 {
  background-image: url("img/serv4.png");
  background-repeat: no-repeat;
  background-position: center;
}/*# sourceMappingURL=style.css.map */